.bg-fixed {
    position: fixed; /* Keeps background in place even when scrolling */
    top: 0;
    left: 0;

    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    background-image:
        linear-gradient(#26344d77, #26344d77),
        url("assets/bg about me.jpg");
    background-color: #7a8eb1;
    background-size: min(90vw, 1400px); /* Ensures image scales responsively but not too big */
    background-repeat: no-repeat;
    background-position: top center;

    z-index: -1; /* Sends background behind all content */
    pointer-events: none; /* Prevents background from blocking clicks */
}

.game-features-title {
    margin-top: 50px;
    text-align: center;

    font-family: "Cinzel", serif;
    font-size: 55px;
    font-weight: 700;
    letter-spacing: 3px;

    color: #fff;

    text-shadow:
        0 0 10px #443b33cc, /* Adds glow effect */
        0 0 3px white
}

/* FEATURE SECTION 1 */
.feature-section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    position: relative; /* Allows absolute positioning of child elements if needed */
}

.feature-label1 {
    width: 500px;  
    z-index: 2; /* Ensures label appears above the frame */
    margin-right: -200px; /* Overlaps the frame*/
}

.feature-frame1 {
    width: 600px;   
    z-index: 1; /* Keeps frame behind the label */
}

/* FEATURE SECTION 2 */
.feature-section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    position: relative;
}

.feature-frame2 {
    width: 600px;
    z-index: 1; /* Ensures frame stays behind label */
}

.feature-label2 {
    width: 500px;
    z-index: 2; /* Label appears on top */
    margin-left: -205px; 
    margin-top: 140px; /* Moves label down*/
}

.feature-section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    position: relative;
}

.feature-label3 {
    width: 500px;  
    z-index: 2; /* Label appears on top of frame */
    margin-right: -200px;  
    margin-top: -90px; 
}

.feature-frame3 {
    width: 600px;   
    z-index: 1; /* Frame stays behind label */
}
footer {
    text-align: center;
    color: #4e4e4e;
    font-size: 14px;
    padding: 20px 10px;
    position: static; 
    margin-top: 190px; 
    background:white;
}

footer a {
    color: #4e4e4e;
    text-decoration: none;
    font-weight: 500;
}

.references-list {
    list-style-type: none;
    padding-left: 0;
}

.references-list li {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 20px;
    text-indent: -40px;
    padding-left: 40px; /* APA hanging indent */
}

.references-list a {
    color: #4e4e4e;
    text-decoration: underline;
}