body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
    background: none;

    animation: fadePage 1.2s ease-in-out;
}

/* PAGE FADE IN */

@keyframes fadePage {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
    padding: 2vh 2vw;
    transform: translateY(-10vh);
}

.center-image { 
    width: 60vw;
    max-width: 1000px;
} 

.center-text { 
    max-width: 70vw;
    color: white;
    font-size: clamp(16px, 1.3vw, 24px);
    line-height: 1.5;
    transform: translateY(-8vh);
} 

audio {
    display: none;
}

/* FIXED BACKGROUND */

.bg-fixed {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-image:
        linear-gradient(#26344d77, #26344d77),
        url("assets/bg about me.jpg");

    background-color: #7a8eb1;
    background-size: min(90vw, 1400px);
    background-repeat: no-repeat;
    background-position: top center;

    z-index: -1;
    pointer-events: none;
}

/* TITLE */

.game-features-title {
    margin-top: 6vh;
    text-align: center;

    font-family: "Cinzel", serif;
    font-size: clamp(32px, 4vw, 55px);
    font-weight: 700;
    letter-spacing: 0.3vw;

    color: #fff;

    text-shadow:
        0 0 1vw #443b33cc,
        0 0 0.2vw white;
}

/* FEATURE SECTIONS */

.feature-section1,
.feature-section2,
.feature-section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
    position: relative;

    opacity: 0;
    animation: featureAppear 1s ease forwards;
}

.feature-section1 { animation-delay: 0.4s; }
.feature-section2 { animation-delay: 0.8s; }
.feature-section3 { animation-delay: 1.2s; }

/* ANIMATION */

@keyframes featureAppear {
    from {
        opacity: 0;
        transform: translateY(6vh);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* SECTION 1 */

.feature-label1 {
    width: min(35vw, 500px);
    z-index: 2;
    margin-right: -14vw;
}

.feature-frame1 {
    width: min(40vw, 600px);
    z-index: 1;
}

/* SECTION 2 */

.feature-frame2 {
    width: min(40vw, 600px);
    z-index: 1;
}

.feature-label2 {
    width: min(35vw, 500px);
    z-index: 2;
    margin-left: -14vw;
    margin-top: 10vh;
}

/* SECTION 3 */

.feature-label3 {
    width: min(35vw, 500px);
    z-index: 2;
    margin-right: -14vw;
    margin-top: -6vh;
}

.feature-frame3 {
    width: min(40vw, 600px);
    z-index: 1;
}

/* FOOTER */

footer {
    text-align: center;
    color: #4e4e4e;
    font-size: clamp(12px, 1vw, 16px);
    padding: 2vh 1vw;
    position: static;
    margin-top: 20vh;
    background: white;
}

footer a {
    color: #4e4e4e;
    text-decoration: none;
    font-weight: 500;
}