@font-face{
    font-family: 'Cinzel Decorative';
    src: url('../CinzelDecorative-Regular.woff') format('woff');
    src: url('../CinzelDecorative-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Cinzel Decorative';
    src: url('../fonts/CinzelDecorative-Black.woff2') format('woff2'),
         url('../fonts/CinzelDecorative-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}


.info h1 {
    color: #905140;
    font-family: 'Cinzel Decorative';
    font-size: 60px;
    margin-top: 100px;
}

.info h2 {
    color: #45302a;
    font-family: 'Cinzel Decorative';
    font-size: 30px;
}

.info h3 {
    color: #45302a;
    font-family: 'Cinzel Decorative';
    font-size: 23px;
}

.slide {
  display: none;      
  width: 100%;
  height: 100vh;
  padding: 0 5vw;
}

.Charshow{
    margin:auto;
    width:100%;
    min-height: 100vh;
    object-fit: contain;
}

.char {
    position: relative; /* or absolute if inside a container */
    top: 17%; 
    left: -15%;            /* push to left edge */
    transform: scale(1.1); 
    width: auto;
    height: 80vh;
    object-fit: contain;
}

.info {
    max-width: 40%;
    margin-top: 8vh;  /* 8% of viewport height */
}

.navBar{
    width: 100%;
    height: 75px;
    padding: 10px;
    /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=040a14&c2=697c9e&gt=r&gd=dtl
*/
    background: #040A14;
    background: radial-gradient(at right bottom, #040A14, #697C9E);
    position:fixed;
}
.navBar img{
    width:auto;
    height: 50px;
    transition:1.3s;
}

.navBar img:hover{
    transform: scale(1.2)
}
.switcher{
    overflow: hidden;
}

.w3-button.w3-display-left,
.w3-button.w3-display-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;  
  cursor: pointer;
}

body{
    background-color:white;
}