@font-face{
    font-family: 'Cinzel Decorative';
    src: url('../CinzelDecorative-Regular.woff') format('woff');
    src: url('../CinzelDecorative-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cinzel Decorative';
    src: url('../fonts/CinzelDecorative-Black.woff2') format('woff2'),
         url('../fonts/CinzelDecorative-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

.h1{
    color: #714d43;
    font-family: 'Cinzel Decorative';
    size: 400px;
    margin-top:500px;
}
.char.active{
    display:block;
}

.char {
  display: none;
  width: auto;
  height: 100vw;
  position: fixed;
  margin: 0;
  top:0;
  left:0;
  bottom:0;
  right: 0;
  transform:scale(0.7);
  object-fit: contain;
}
.navBar{
    width: 100%;
    height: 75px;
    padding: 10px;
    background-color: #26344d;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow:10px 10px 5px#17213229;
}

.navBar img{
    width:auto;
    height: 50px;
    transition:2s
}

.navBar img:hover{
    transform: scale(1.5)
}

.charInfo{
    display:none;
}
.info.active{
    display:block;
}
body{
    background-color:white;
}
