.navBar{
    width: auto;
    height: 200px;
    background-color: #26344d;
}

.h1{
    color: #714d43;
    font-family: 'Courier New', Courier, monospace;
    size: 100px;
}

.recTeams{

}

@font-face{
    
}
