@font-face{
    font-family: 'Cinzel Decorative';
    src: url('../CinzelDecorative-Regular.woff') format('woff');
    src: url('../CinzelDecorative-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Cinzel Decorative';
    src: url('../fonts/CinzelDecorative-Black.woff2') format('woff2'),
         url('../fonts/CinzelDecorative-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}


h1 {
    color: #905140;
    font-family: 'Cinzel Decorative';
    font-size: 60px;
    margin-top: 100px;
    margin-left: 50px;
}

h2 {
    color: #45302a;
    font-size: 30px;
    margin-left: 50px;
}


.charInfo {
    display: block;
}

.char.active {
    display: block;
}

.char {
  display: none;
  width: auto;
  height: 80vh; /* adjust height */
  position: fixed;
  top: 10%;       /* controls vertical position */
  right: 0;       /* sticks it to the right */
  transform: scale(1.4);
  object-fit: contain;
}

.navBar{
    width: 100%;
    height: 75px;
    padding: 10px;
    background-color: #26344d;
    
    position:fixed;
}
.navBar img{
    width:auto;
    height: 50px;
    transition:2s
}

.navBar img:hover{
    transform: scale(1.5)
}

.charInfo{
    display:none;
}
.info.active{
    display:block;
}
body{
    background-color:white;
}