body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
    background-image: url("assets/BgHome.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;

    animation: fadePageIn 1.2s ease-in-out;
}


/* NATION BUTTONS */

.nation-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    margin-top: 40vh;
}

/* NATION BUTTON */

.nation-btn {
    width: 10vw;
    max-width: 160px;
    min-width: 110px;
    border-radius: 1.5vw;

    /* starting animation state */
    opacity: 0;
    transform: translateY(4vh);

    animation: buttonAppear 0.8s ease-out forwards;

    transition: 
        transform 0.25s ease,
        filter 0.25s ease;
}

/* HOVER EFFECT */

.nation-btn:hover {
    transform: translateY(0) scale(1.12);
    filter: brightness(1.2);
}

/* BUTTON ENTRANCE ANIMATION */

@keyframes buttonAppear {
    from {
        opacity: 0;
        transform: translateY(4vh);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* PAGE FADE IN */

@keyframes fadePageIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}