body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
    background-image: url("assets/BgHome.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;

    animation: fadeIn 1.2s ease-in-out;
}


/* NATION BUTTONS */

.nation-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    margin-top: 40vh;
}

.nation-btn {
    width: 10vw;
    max-width: 160px;
    min-width: 110px;
    border-radius: 23px;

    transition: transform 0.25s ease, filter 0.25s ease;

    /* starting state for animation */
    opacity: 0;
    transform: translateY(25px);

    animation: buttonAppear 0.8s ease forwards;
}

.nation-btn:hover {
    transform: scale(1.12);
    filter: brightness(1.20);
}

/* BUTTON ANIMATION */

@keyframes buttonAppear {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* PAGE FADE IN */

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}