
.topnav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: rgba(28, 43, 87, 0.9);
    padding: 0.7vh 2vw; 
    position: relative;
    z-index: 10;   
}

.nav-logo {
    height: 4vh;
    margin-right: 1vw;
    vertical-align: middle;
}

.topnav a {
    color: white;
    text-decoration: none;
    padding: 1vh 1.2vw;
    font-weight: 500;
    transition: 0.3s;
    font-size: 1vw;
}

.topnav a:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 0.4vw;
}

.topnav a.active {
    border-bottom: 0.15vw solid #f4c542;
}

.topnav-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 1vw;
}

.topnav img {
    height: 4vh;
}