body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
    background-image: url("assets/CharacterTrackerbg.png");
    background-size: cover; 
    background-repeat: no-repeat;
    background-color: white;
    overflow-x: hidden;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.popup {
  background: #ffffff;
  padding: 3vh;             
  width: 25vw;              
  max-width: 90vw;           
  border-radius: 2vmin;     
  box-shadow: 0 1vh 2vh rgba(0,0,0,0.3);
  animation: fadeIn 0.3s ease;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-btn {
  float: right;
  font-size: 2vmin;         
  cursor: pointer;
  color: #888;
}


.close-btn:hover {
  color: #000;
}


h1.title {
  text-align: center;
  margin-bottom: 2vh;       
}

fieldset {
  border: 0.2vmin solid #ccc;
  margin-bottom: 2vh;
  padding: 1.5vh;
}

input, select {
  width: 100%;
  padding: 1.2vh;
  margin-top: 1vh;
}

button {
  width: 100%;
  padding: 1.5vh;
  background: #ecd186;
  color: #fff;
  border: none;
  border-radius: 1vmin;
  cursor: pointer;
}

button:hover {
  background: #cea945;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

#tracker-section {
  display: none;
  padding: 4vh;
}

.characterTracker {
  position: relative;
  display: block;
  margin: 3vh;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  height: 100vh;
  width: 33vw;
}

.character-img {
  width: 12vmin;
  border-radius: 2vmin;
  cursor: pointer;
  position: relative;
}

.hover-card {
  position: absolute;
  top: 50%;
  left: 110%;

  width: 20vmin;
  padding: 2vh;
  border-radius: 2vmin;
  background: rgba(20, 30, 60, 0.95);
  color: white;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s ease;

  box-shadow: 0 1vh 2vh rgba(0,0,0,0.4);
}

.character .hover-card {
  opacity: 1;
  visibility: visible;
  transform: translateY(-50%) scale(1.2);
}

.status {
  display: flex;
  align-items: center;
  gap: 1vmin;
  font-size: 2vmin;
  margin-bottom: 1.5vh;
}

.owned {
  color: gold;
}


.wanted {
  color: hotpink;
}

.character.owned::after {
  content: "⭐";
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: 2vmin;
}

.character.wanted::after {
  content: "❤️";
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: 2vmin;
}
