body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
    background-image: url("assets/CharacterTrackerbg.png");
    background-size: cover; /* Scales the image to fully cover the screen */
    background-repeat: no-repeat;
    background-color: white;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.popup {
  background: #ffffff;
  padding: 25px;
  width: 320px;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.3);
  animation: fadeIn 0.3s ease;
}


.close-btn {
  float: right;
  font-size: 18px;
  cursor: pointer;
  color: #888;
}


.close-btn:hover {
  color: #000;
}


h1.title {
  text-align: center;
  margin-bottom: 15px;
}


fieldset {
  border: 1px solid #ccc;
  margin-bottom: 15px;
  padding: 10px;
}


input, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}


button {
  width: 100%;
  padding: 10px;
  background: #ecd186;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


button:hover {
  background: #cea945;
}


@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}



#tracker-section {
  display: none;
  padding: 30px;
}


.character {
  position: relative;
  display: inline-block;
  margin: 20px;
  overflow: hidden;
}


.character-img {
  width: 90px;
  border-radius: 12px;
  cursor: pointer;
}


.hover-card {
  position: absolute;
  top: 50%;
  left: 110%;
  transform: translateY(-50%);


  width: 160px;
  padding: 12px;
  border-radius: 14px;
  background: rgba(20, 30, 60, 0.95);
  color: white;


  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s ease;


  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}


.character:hover .hover-card {
  opacity: 1;
  visibility: visible;
}


.status {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  margin-bottom: 8px;
}


.owned {
  color: gold;
}


.wanted {
  color: hotpink;
}